<a href="https://colab.research.google.com/github/tirubhaskar/MachineLearning/blob/master/Bhaskar_airfares_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#import all the required libraries
import pandas as pd
from sklearn import linear_model
from sklearn import model_selection
from sklearn.metrics import r2_score
import sklearn as sk

In [ ]:
df = pd.read_csv("/content/drive/My Drive/Colab Notebooks/Airfares - Nuremic Columns.csv")
df.head()

   COUPON  NEW       HI  S_INCOME  ...    E_POP  DISTANCE    PAX    FARE
0    1.00    3  5291.99     28637  ...   205711       312   7864   64.11
1    1.06    3  5419.16     26993  ...  7145897       576   8820  174.47
2    1.06    3  9185.28     30124  ...  7145897       364   6452  207.76
3    1.06    3  2657.35     29260  ...  7145897       612  25144   85.47
4    1.06    3  2657.35     29260  ...  7145897       612  25144   85.47

[5 rows x 10 columns]

In [ ]:
df.corr()

            COUPON       NEW        HI  ...  DISTANCE       PAX      FARE
COUPON    1.000000  0.020223 -0.347252  ...  0.746805 -0.336974  0.496537
NEW       0.020223  1.000000  0.054147  ...  0.080965  0.010495  0.091730
HI       -0.347252  0.054147  1.000000  ... -0.312375 -0.168961  0.025195
S_INCOME -0.088403  0.026597 -0.027382  ...  0.028153  0.138197  0.209135
E_INCOME  0.046889  0.113377  0.082393  ...  0.176531  0.259961  0.326092
S_POP    -0.107763 -0.016672 -0.172495  ...  0.018437  0.284611  0.145097
E_POP     0.094970  0.058568 -0.062456  ...  0.115640  0.314698  0.285043
DISTANCE  0.746805  0.080965 -0.312375  ...  1.000000 -0.102482  0.670016
PAX      -0.336974  0.010495 -0.168961  ... -0.102482  1.000000 -0.090705
FARE      0.496537  0.091730  0.025195  ...  0.670016 -0.090705  1.000000

[10 rows x 10 columns]

In [ ]:
#store in fare the FARE Columns Values
fare = df[['FARE']]

In [ ]:
#Full Model
#store the 'COUPON', 'NEW', 'HI', 'S_INCOME', 'E_INCOME', 'S_POP', 'E_POP', 'DISTANCE','PAX', 'Vacation_code', 'SW_Code', 'Slot_Code', 'Gate_Code as predictors
predictors_all = df[['COUPON', 'NEW', 'HI', 'S_INCOME', 'E_INCOME', 'S_POP', 'E_POP', 'DISTANCE','PAX', 'Vaction_Code', 'SW_Code', 'Slot_Code', 'Gate_Code']]

In [ ]:
predictors_train, predictors_test, fare_train, fare_test = model_selection.train_test_split(predictors_all, fare, test_size=0.3)

In [ ]:
lr = linear_model.LinearRegression()
lr.fit(predictors_train, fare_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
lr.score(predictors_train, fare_train)
lr.intercept_
lr.coef_

Coefficients: [[ 1.23923266e+01 -1.73769301e+00  9.95787304e-03  1.08862091e-03
   1.64545589e-03  4.13882285e-06  4.49958790e-06  7.59167002e-02
  -7.46891007e-04 -3.77542045e+01 -4.01292913e+01 -1.33718957e+01
  -1.49335873e+01]]
Intercept: [-22.68250773]

ValueError: ignored

In [ ]:
fare_pred = lr.predict(predictors_test)

In [ ]:
fare_test[0:5]

       FARE
631  130.15
436   66.46
487  374.40
353   51.73
106  221.89

In [ ]:
fare_pred[0:5]

array([[147.23003702],
       [103.20184217],
       [313.34278822],
       [ 71.2051547 ],
       [244.49440623]])

In [ ]:
# R2_Score with Numerical Predictors
r2_score(fare_test, fare_pred)

0.7494985730637779

In [ ]:
print('Coefficients:', lr.coef_)
print('Intercept:', lr.intercept_)
print('Mean squared error (MSE): %.2f'% sk.metrics.mean_squared_error(fare_test, fare_pred))
print('Coefficient of determination (R^2): %.2f' % r2_score(fare_pred, fare_pred))

Coefficients: [[ 1.23923266e+01 -1.73769301e+00  9.95787304e-03  1.08862091e-03
   1.64545589e-03  4.13882285e-06  4.49958790e-06  7.59167002e-02
  -7.46891007e-04 -3.77542045e+01 -4.01292913e+01 -1.33718957e+01
  -1.49335873e+01]]
Intercept: [-22.68250773]
Mean squared error (MSE): 1310.43
Coefficient of determination (R^2): 1.00